body {
    background-color: #dfdfdf;
}
.navbar {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
    background-color: orange !important;
}

.sidenav {
    text-align: center;
    padding: 20px 0;
    height: 100vh;
    width: 15vw;
    border-right: 3px solid rgba(0,0,0,.07);
    position: absolute;
    background-color: white;
}

.sidenav a {
    color: black;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}

.sidenav a:hover {
    color: orange;
}

.wrapper-content {
    margin-left: 15vw;
    width: 83.5vw;
}

